body{
    margin:0;
    padding:0;
    background-color:white;
}
a {
    text-decoration:none;
    color:black;
}

header#main{
    text-align:right;
    margin:0px 10px 5px 0px;
    padding:0;
}

nav#main-menu  {
    display: block;
    width: 100%;
    overflow: hidden;
}

nav#main-menu ul {
    text-align: center;
    width:100%;
    margin: 0px 0 5px 0;
    padding: .4em;
    float: left;
    list-style: none;
    background-color:black;
}

nav#main-menu li {
    float:left;
}

nav#main-menu a {
    float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #333;
    font: bold 0.7em sans-serif;
    letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);
}

nav#main-menu a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: red;
    background: linear-gradient(red, crimson);
}

nav#main-menu a:active {
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}

nav#main-menu li:first-child a {
    border-left: 0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

nav#main-menu li:last-child a {
    border-right: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

nav#secondar-menu {
    float:left;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding:5px;
    margin-right: 10px;
}

section#content{

    padding-left:160px;
    height:100%;
}

article.news {
    background-color:white;
    width: 50%;

}

figure.floatingImage  {
    width:150px;
    float:left;
    padding:5px;
    border:1px solid gray;
}

figure.floatingImage img {
    width:150px;
}
figure.floatingImage figcaption {
    font-size: 0.5em;
}

article.news p {
    float:left;
    margin-top:0px;
    margin-bottom:0px;
    font-size:0.8em;
    font-style:italic;
    padding-top:5px;
}

article.news h1 {
    font-size:1.1em;
    font-weight:bold;
    padding:0;
    margin:0;
}

div#company{
    width:200px;
    font-size:0.7em;
    font-weight:bold;
    color:black;
}
div#company img{
    width:40px;
    text-align: center;
}

div#company div{
    width:100px;
    text-align: center;
}

footer#copyright{
    clear:both;
    width:100%;
    font-size:0.7em;
    font-family:cursiv;
    text-align:center;
    background-color:black;
    color:white;
}

.clear-both {
    clear:both;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }