label {
    font-weight: bold;
}
input {
    font-size: 14px;
    border: 1px solid #333;
    padding:5px;
}

input.button{
    padding: 5px;
    background-color:#333;
    color:white;
}

input.button:hover{
    padding: 5px;
    background-color:red;
    color:white;
}

input.row-button{

    background-color:#333;
    color:white;
}

input.row-button:hover{

    padding: 5px;
    background-color:red;
    color:white;
}

div.event-field {
    margin-bottom: 5px;
}

div.event-field input {
}

div.event-field label{
    margin-right: 6px;
}

#events-button-row {
    margin-top:10px;
}

table {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333;
    border-width: 1px;
    border-color: #c1c1c1;
    border-collapse: collapse;
}
th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #333;
    background-color: #c1c1c1;
}
td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #333;
    background-color: #fff;
}